# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# PyCharm project settings
.idea/

# Optional - DB file for local testing
sample.db

# Behave output
*.output

# Behave reports
reports/

# Logs
logs/
